<?xml version="1.0" encoding="UTF-8"?>
<configuration >
	<jmxConfigurator />
	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>%date{yyyy/MM/dd HH:mm:ss} [%thread] %-5level %logger{80} -line %L - %msg%n</pattern>
		</layout>
	</appender>
 	<appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
 		<File>/opt/kpdp/logs/kpdp.log</File>
 		<param name="Append" value="true"/>
 		 <param   name="DatePattern"   value="'.'yyyy-MM-dd"/>
 		 <!-- 按照时间来分页，格式：【yyyy-MM-dd_HH_mm_ss】  -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">  
            <fileNamePattern>/logs/spring-all/spring-all.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>366</maxHistory>
        </rollingPolicy>
	 	<encoder charset="UTF-8">
	 		<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{80} -line %L - %msg%n</pattern>
	 	</encoder>
 	</appender>	
	
<!--JdbcTemplate的日志输出器 -->
    <logger name="org.springframework.jdbc.core.StatementCreatorUtils"
        additivity="true" level="TRACE">
        <appender-ref ref="STDOUT" />
    </logger>
    <logger name="org.springframework.jdbc.core" additivity="true">
        <level value="DEBUG" />
        <appender-ref ref="STDOUT" />
    </logger>
    <logger name="java.sql.Connection" additivity="true">
        <level value="DEBUG" />
        <appender-ref ref="STDOUT" />
    </logger>
    <logger name="java.sql.Statement" additivity="true">
        <level value="DEBUG" />
        <appender-ref ref="STDOUT" />
    </logger>
    <logger name="java.sql.PreparedStatement" additivity="true">
        <level value="DEBUG" />
        <appender-ref ref="STDOUT" />
    </logger>
    <logger name="java.sql.ResultSet" additivity="true">
        <level value="DEBUG" />
        <appender-ref ref="STDOUT" />
    </logger>	
    
    
	<root level="INFO">
		<appender-ref ref="file" />
		<appender-ref ref="stdout" />
	</root>

</configuration>